#portfolio-page-header{
  width:100%;
  font:inherit;
  font-size:45px;
  color:#787878;
  border-bottom:2px solid #a2a2a2;
}

.image-description{
  font:inherit;
  line-height: 2em;
  color: #787878;
  margin-top:3vh;
  padding:10px;
}

.image-row{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  /* border-bottom: 1px solid #a2a2a2; */
}

.row{
  padding-top:5px;
  padding-bottom:120px;
}

img{
  border:1px solid #787878;
  box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.4);

}


/* #nav-btn{
  position:fixed;
  bottom:2vh;
  left:2vw;
} */


@media only screen and (max-width: 800px){
  .row{
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items:flex-start;
  }

  p{
    width:70vw;
  }
  img{
    align-content: center;
  }

  
  .btn-group-align{
    display:flex;
    flex-direction:row;
    justify-content:center;
  }

  /* #nav-btn{
    position:fixed;
    right:1vw;
    top:3vh;
  } */
}